<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>



  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" >
      <file value="C:\log\PodiatryApplication.log" />
      <!--<encoding value="utf-8" /> -->
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <!--<rollingStyle value="Date" />-->
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] - %message%newline%exception" />
        <!--<conversionPattern value="%date %level [%thread] %type.%method - %message%newline%exception" />-->
      </layout>
    </appender>
    <root>
      <level value="All" />
      <!-- If the following line is not included the log file 
      will not be created even if log4net is configured with this file. -->
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_FinanceManagerCommandProcessor" />
        <binding name="BasicHttpBinding_FinanceManagerQueryProcessor" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_FinanceManagerCommandProcessor" />
        <binding name="NetTcpBinding_FinanceManagerQueryProcessor" />
        <binding name="NetTcpBinding_IPublisher" />
        <binding name="NetTcpBinding_PatientManagerQueryProcessor" />
        <binding name="NetTcpBinding_PatientManagerCommandProcessor" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:7080/Infrastructure.Abstractions"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_FinanceManagerCommandProcessor"
        contract="Services.FinanceManagerServices.CommandProcessorService.FinanceManagerCommandProcessor"
        name="NetTcpBinding_FinanceManagerCommandProcessor">
        <identity>
          <userPrincipalName value="EVAN\Evan" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:7085/Infrastructure.Abstractions"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FinanceManagerCommandProcessor"
        contract="Services.FinanceManagerServices.CommandProcessorService.FinanceManagerCommandProcessor"
        name="BasicHttpBinding_FinanceManagerCommandProcessor" />
      <endpoint address="net.tcp://localhost:7070/Infrastructure.Abstractions"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_FinanceManagerQueryProcessor"
        contract="Services.FinanceManagerServices.QueryProcessorService.FinanceManagerQueryProcessor"
        name="NetTcpBinding_FinanceManagerQueryProcessor">
        <identity>
          <userPrincipalName value="EVAN\Evan" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:7075/Infrastructure.Abstractions"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FinanceManagerQueryProcessor"
        contract="Services.FinanceManagerServices.QueryProcessorService.FinanceManagerQueryProcessor"
        name="BasicHttpBinding_FinanceManagerQueryProcessor" />
      <endpoint address="net.tcp://localhost:6090/PublisherSubscriberService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPublisher"
        contract="Services.PatientManagerServices.PublisherService.IPublisher"
        name="NetTcpBinding_IPublisher">
        <identity>
          <userPrincipalName value="EVAN\Evan" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:6070/Infrastructure.AbstractFactories"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_PatientManagerQueryProcessor"
        contract="Services.PatientManagerServices.QueryProcessorService.PatientManagerQueryProcessor"
        name="NetTcpBinding_PatientManagerQueryProcessor">
        <identity>
          <userPrincipalName value="EVAN\Evan" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:6080/Infrastructure.AbstractFactories"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_PatientManagerCommandProcessor"
        contract="Services.PatientManagerServices.CommandProcessorService.PatientManagerCommandProcessor"
        name="NetTcpBinding_PatientManagerCommandProcessor">
        <identity>
          <userPrincipalName value="EVAN\Evan" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>